    html {
        scroll-behavior: smooth;
    }
    
    body {
        /* background: #f2f3ee url('../images/bg-tile.gif') top left repeat; */
        background: #c5c6c0 url('../images/bg1.jpg');
        color: #191919;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizelegibility;
        font-size: 16px;
        /* font-family: 'Open Sans', "Helvetica Neue", Arial, sans-serif; */
        font-family: 'Comfortaa';
        margin: 0px;
    }


    /* ================== Main Container ====================== */


    .container {
        max-width: 1400px;
        width: auto;
        margin: 0 auto;
        padding: 0px 24px;
    }


    /* ==================== Top Bar ========================= */
    
    .container .top #links .d-flex{
        max-width:300px;
        margin-top: 40px;
        float: right;
        margin-left: 6px;
        margin-right: 10px;
    }

    input .form-control{
        background-color: #191919;
        color:#c5c6c0
    }

    #instagram{
        margin-top: -2px;
    }

    #twitter{
        margin : auto 100px;
    }

    .icons:hover{
        opacity: 0.5;
    }

    .container .top .col-sm-6 #logo a{
		display: block;
		width: 400px;
		height: 120px;
		background: url('../images/tempLogo.png') center center no-repeat;
		text-indent: -9999px;

	}

    /* hover opacity */
    .container .top .col-sm-6 #logo a:hover {
        padding: 0;
        background: url('../images/tempLogo.png') center center no-repeat;
        opacity: 0.5;
    }
    
	.container .top #links .icons{
		float: right;
		margin: 4px;
        margin-top: 45px;
	}

	

    #search{
        margin-right: 10px;
    }


    /* ==================== Nav Bar ========================= */

    a:link{
        text-decoration: none;
    }

    .mainNav{
        font-size: 22px;
    }

	header nav {
		text-align: center;
        font-family: 'Comfortaa';

	}
	
	header nav ul {
		margin: 0;
		padding:0 275px;
		list-style: none;
		display: inline-block;
		line-height: 50px;
		width:auto;
		background-color: #191919;
		color: white
	}
	

	header nav ul li {
		display: inline-block;
		padding: 0 20px;
	}
	
	header nav ul li a:hover {
		color: #d13859;
		padding-top: 20px;
		/* background: url('../images/tiny-donut.png') top center no-repeat; */
	}
	
	header nav ul li a {
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
	}



    /* ==================== Dropdown ========================= */

.dropbtn {
	background-color: #191919;
	color: white;
	padding: 20px;
	/* font-size: 20px; */
	border: none;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
    font-family: 'Comfortaa';

  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #191919;
    
	min-width: 160px;
	/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
	z-index: 1;
	margin-left: -10px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: rgb(255, 255, 255);
	padding: 0px 8px;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #d13859;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
	background-color: #191919;
	color: #d13859; 
    }

    




	/* =================== Body ==================== */


    .welcomeContainer{
        max-width: 1400px;
        width: auto;
        margin: 0 auto;
        padding: 0px 22px;
        position: relative;
        text-align: center;
        color: whitesmoke;
    }


    #secondaryText a:hover{
        color: #d13859;
    }

    #welcome{
        max-width: 1347px;
        width:auto;
        padding-left: 3px;
        padding-right: 0px;
    }

    .welcomeText{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 130px;
        font-family: 'Comfortaa';
        font-weight: 400;
        background-color: rgba(57, 56, 56, 0.6);
        padding: 60px;
        font-family: 'Abril Fatface', cursive;
    }

    #secondaryText{
        font-size: 50px;
    }

    #subTitle{
        text-align: center;
        padding: 15px 0px;
    }
    
    .card{
        margin: auto;
    }

    .card-img-top:hover{
        opacity: 0.6;
    }

    .card {
        /* background-color: #c5c6c0; */
        min-height: 540px ;
        max-height: 540px;
        max-width: 250px;
    }
    


    #random{
        margin: 40px 550px;
        height: 50px;
        width: 250px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        border-radius: 10px;
	}

    .btn-dark:hover{
        color: #191919;
        background-color: #f2f3ee;
    }
    
    #seeMore{ 
    margin-top: 10px;
    }

    #seeMoreZucc {
        margin-top: 24px
    }

    .mailing-list{
        margin: 0 100px 30px;
        background-color: #ffffff;
        padding: 20px;
        border-style: outset;
        border-radius: 13px;
        border-color: #191919;
    }

    

	/* =================== Modal ==================== */


    #userBtn{
		margin: 3px;
		padding: 0px 0px;
        padding-bottom: 2px;
		list-style: none;
		display: inline-block;
		line-height: 50px;
		width:auto;
		background-color: #191919;
		color: white;
        border: #191919;
        text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
        font-size: 22px;
    }

    #userBtn:hover{
        color: #d13859;
    }

    .modal-body{
        color: #191919;
    }

    .modal-body #recipe{
        max-width: 400px;
    }


    #cuisineOther{
        margin: auto;
	font-size: 16px;
    }

    #img{
        margin:auto;
    }

    .card{
        border-style: solid;
        border-color: #191919;
    }




    
	/* =================== Mailing List ==================== */


    #email{
        margin:10px 0px;
    }


	/* =================== Footer ==================== */
    
    
    footer.main {
        background: #191919 top left repeat;
        color: #f2f3ee;
        padding: 30px 0;
    }
    footer.main a:hover {
        color: #f2f3ee;
    }
    
    #uncopyright, #credits {
        width: 240px;
        float: left;
        padding: 10px 0 10px 50px;
    }
    
    /* #uncopyright {
        background: url('../images/icon-recycle.png') center left no-repeat;
    } */

    #uncopyright a {
        font-size: 9px
    }
    
    #credits {
        background: url('../images/icon-apple.png') center left no-repeat;
        float: right;
        margin-top: 5px;
    }
    
    
    
    .clearfix:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
    }
    * html .group             { zoom: 1; } /* IE6 */
    *:first-child+html .group { zoom: 1; } /* IE7 */



    /* =================== Typography ==================== */
    
    h1, h2 {
        /* font-family: 'Love Ya Like A Sister', cursive; */
        font-family: 'Comfortaa';
        color: #d13859;
        font-size: 40px;
        font-weight: normal;
        line-height: 44px;
        margin: 0;
    }
    
    h1 {
        text-align: center;
        background: url('../images/header-divider.png') bottom center no-repeat;
        padding: 0 0 20px;
    }
    
    h1 em {
        color: #191919;
        font-style: normal;
    }
    
    h2 {
        font-size: 34px;
    }
    
    h3 {
        margin: 0;
    }
    
    p.lead {
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        margin: 10px 0;
    }
    
    p {
        margin: 0;
    }
    
    a:link {
        color: #ffffff;
    }
    
    a:visited {
        color: #ffffff;
    }
    
    a:hover {
        color: #191919;
    }
    
    hr {
        border: none;
        height: 33px;
        width: 333px;
        margin: 30px auto;
        background: url('../images/divider.png') center center no-repeat;
    }

    .btn {
        font-size: 16px;
        border-radius: 8px;
    }

    


        /* =================== Recipe Pages ==================== */

    #recipe-card{
        border-style: solid;
        border-color: #191919;
        border-width: 6px;
        margin: 10px;

        padding: 10px;
    }

    /* .recipe-card h1, h2, h3, h4, a{
        padding: 3px;
    } */

    #share{
        margin: 10px 0
    }

    .recipe-card h1{
        font-weight: 900;
    }

    #recipe-card a{
        color: #191919;
        text-decoration:underline;
    }

    #recipe-card h2{
        font-size: 20px;
        color: #191919;
    }

    #recipe-card h3{
        color: #191919;
    }

    .container .recipe-card .row img{
        display: block;
        margin: auto;
        border-style: solid;
        border-color: #191919;
        border-width: 3px;
    }


